@use "../../styles/variables" as v;

.button {
  display: grid;
  place-content: center;
  padding-inline: v.$btn-pd-ln;
  height: clamp(4.4rem, 5vw + .1rem, 6.4rem);
  font-size: v.$fs-body;
  border-radius: v.$br-xs;
  transition: v.$transition;
  cursor: pointer;
  background-color: v.$cta-default;
  color: v.$cta-default-color;

  &:hover {
    background-color: v.$solid-background-hover;
    color: v.$cta-hover-color;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    box-shadow: 0 0 .1rem .5rem v.$cta-focus;
  }

  &:active {
    background-color: v.$cta-active;
    color: v.$cta-active-color;
  }

  &:disabled {
    background-color: v.$cta-disabled;
    color: v.$cta-disabled-color;
    cursor: not-allowed;
    pointer-events: visible;
  }

  & .i-icon-loading-four {
    animation-name: spinning;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &.alternative {
    background-color: transparent;
    color: v.$cta-alternative-color;
    border: v.$bd-cta solid v.$cta-alternative-border;
  
    &:hover,
    &:active {
      border-color: v.$cta-alternative-hover-border;
      color: v.$cta-alternative-hover-color;
    }
  
    &:disabled {
      border-color: v.$cta-alternative-disabled-border;
      color: v.$cta-alternative-disabled-color;
    }
  }
}
