@use "../../styles/variables" as v;

.auth {
  height: fit-content;
  width: 100vw;
  background-color: var(--cyan);
  background-image: url('../../../public/images/blob-auth-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: v.$sec-pd-bl;
  
  @media (min-width: 49em), (min-height: 60em) {
    display: grid;
    place-content: center;
    height: 100vh;
  }

  h2 {
    font-size: v.$fs-heading2;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2rem, 10vw, 5rem);
  margin-inline: auto;
  max-inline-size: 90vw;

  @media (min-width: 49em) {
    flex-direction: row;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  gap: 2rem;
}

.sign {
  flex: 1 1 100%;
  width: 100%;
}

.form > p {
  font-size: v.$fs-small;

  span {
    font-weight: bold;
    color: v.$text-highlighted;
  }
}

