@use "../../../../styles/variables" as v;

.login {
  font-size: v.$fs-heading4;
  background-color: transparent;

  a {
    align-items: center;
    display: flex;
    padding-block: v.$sp-sm;
    padding-inline: v.$sp-md;
    gap: v.$sp-md;

    span {
      display: grid;
      place-content: center;
    }
  }
}
