@use "../../styles/variables" as v;

.group-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block-end: v.$sp-sm;

  &.flex {
    > button {
      flex: 1 1 100%;

      &.alternative {
        flex-basis: 50%;
      }
    }
  }
}
