$header-height: 10rem;

.home {
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: $header-height;
    border-bottom: .1rem solid hsla(246, 25%, 77%, 0.5);
    gap: 3rem;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 10vw;
    }
  }

  &__logo {
    flex: 1 1 10%;
    position: relative;
    height: 5rem;

    & *:is(h1, img) {
      transition: all 0.4s ease-in-out;
    }

    a {
      color: var(--very-dark-blue);
    }

    h1 {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 10%;
      opacity: 0;
      width: 100%;
      font-size: 2rem;
      color: var(--very-dark-blue);
      text-align: center;
    }
    
    img {
      height: 100%;
    }

    &:hover {
      h1 {
        left: clamp(9rem, 12vw + 1rem, 12rem);
        opacity: 1;
      }

      img {
        transform: rotate(360deg);
      }
    }
  }

  &__footer {
    background-color: var(--very-dark-blue);
    color: var(--light-gray);
    padding-block: 4rem;
    display: grid;
    place-content: center;
  }
}

.navigation {
  flex: 1 1 40ch;

  &__list {
    display: flex;
  }

  &__link {
    flex: 1 1 20%;

    a {
      color: var(--very-dark-blue);
    }
  }
}

.login {
  flex: 1 1 10%;
  background-color: var(--very-dark-blue);
  transition: all 0.4s ease-in-out;
  border-radius: 1rem;
  text-transform: uppercase;
  max-width: 20rem;

  a {
    color: var(--light-gray);
    display: block;
    padding-block: 1rem;
    padding-inline: 2rem;
  }

  &:hover {
    background-color: lighten(hsl(200, 79%, 23%), 5);
  }
}

.hero {
  --container-max: 90vw;
  --container-max-relative: 90%;

  align-items: center;
  display: flex;
  height: calc(100vh - $header-height);
  width: min(100% - 3rem, var(--container-max, 144rem));
  margin-inline: auto;
  position: relative;
  background-color: transparent;
  gap: 2rem;

  &__information {
    flex: 1 1 100%;
    color: var(--dark-blue);
    width: min(100% - 3rem, var(--container-max-relative, 60ch));
    margin-inline: auto;

    h2 {
      font-size: clamp(3.2rem, 12vw + .1rem, 6.4rem);
    }
  }

  &__image {
    flex: 2 1 100%;
    height: 100%;
    text-align: center;
    position: relative;

    img {
      height: 100%;
      position: relative;
      z-index: 0;

      &:not(:first-of-type) {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 70%;
        max-width: unset;
      }

      &:last-of-type {
        z-index: -1;
      }
    }
  }

  &__call-to-action {
    background-color: var(--very-dark-blue);
    color: var(--light-gray);
    transition: all 0.4s ease-in-out;
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: 1rem;
    text-transform: uppercase;
    width: min(100% - 2rem, 40vw);
    margin-block: 2rem;
    font-size: large;
  
    &:hover {
      background-color: lighten(hsl(200, 79%, 23%), 5);
    }
  }
}

.contents {
  --min: 20ch;
  --gap: 1rem;
  --container-max: 90vw;
  
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-inline: auto;
  padding-block: 20rem;
  width: min(100% - 3rem, var(--container-max, 144rem));
  
  & > * {
    flex: 1 1 var(--min);
  }

  &__card {
    padding-block: 1rem;
    padding-inline: 2rem;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
      color: var(--very-dark-blue);;
    }
  }

  &__icon {
    height: 8rem;
    width: 8rem;
    border-radius: 100%;
    display: grid;
    place-content: center;
    background-color: var(--very-dark-blue);
    margin-inline: auto;
    margin-block-end: 2rem;
    color: var(--light-gray);
    font-size: 3.2rem;

    span {
      display: inherit;
      place-content: inherit;
    }
  }
}
