$header-height: 10rem;

.layout {
  height: 100%;
  
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: $header-height;
    border-bottom: .01rem solid var(--border);
    gap: 3rem;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 10vw;

      @media (max-width: 46em) {
        display: none;
      }
    }
  }

  &__logo {
    flex: 1 1 10%;
    position: relative;
    height: 5rem;
    text-align: center;

    & *:is(h1, img) {
      transition: var(--transition);
    }

    a {
      color: var(--dark-text);
    }

    h1 {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 10%;
      opacity: 0;
      width: 100%;
      font-size: 2rem;
      color: var(--dark-text);
      text-align: center;

      @media (max-width: 46em) {
        display: none;
      }
    }
    
    img {
      height: 100%;
    }

    &:hover {
      h1 {
        left: clamp(9rem, 12vw + 1rem, 12rem);
        opacity: 1;
      }

      img {
        transform: rotate(360deg);
      }
    }
  }

  &__footer {
    background-color: var(--light-bg);
    color: var(--dark-text);
    padding-block: 4rem;
    display: grid;
    place-content: center;
  }
}

.navigation {
  flex: 1 1 40ch;

  @media (max-width: 46em) {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__link {
    flex: 1 1 20%;

    a {
      color: var(--dark-text);
    }
  }
}

.login {
  flex: 1 1 10%;
  font-size: 2.4rem;
  background-color: transparent;

  a {
    color: var(--dark-text);
    display: block;
    padding-block: 1rem;
    padding-inline: 2rem;

    span {
      display: grid;
      place-content: center;
    }
  }
}
