.sign {
  flex: 1 1 max(20%, 30rem);
}

.form > p {
  color: var(--grayish-blue);
  font-size: 1.2rem;

  span {
    font-weight: bold;
    color: var(--bright-orange);
  }
}

.continue {
  width: 100%;
  background-color: var(--very-dark-blue);
  color: var(--light-gray);
  text-transform: uppercase;
  padding-block: 1rem;
  margin-block-end: 1rem;
  font-size: var(--fs-body);
  border-radius: .4rem;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: lighten(hsl(200, 79%, 23%), 5);
  }
}
