.card {
  flex-grow: 1;
  flex-basis: max(33%, 30rem);
  padding-block: 4rem;
  padding-inline: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 50rem;
  text-align: start;
  
  @media (max-width: 40em) {
    min-height: unset;
  }

  &#sedans {
    background-color: hsl(31, 77%, 52%);
  }
  
  &#suvs {
    background-color: hsl(184, 100%, 22%);
  }
  
  &#luxury {
    background-color: hsl(179, 100%, 13%);
  } 
}

.image {
  width: 5rem;
}

.title {
  color: var(--light-gray);
  font-size: var(--fs-title);
}

.description {
  color: var(--soft-white);
  line-height: 1.5;
}

.more {
  margin-block-start: auto;
  appearance: none;
  -webkit-appearance: none;
  border: .2rem solid var(--light-gray);
  background-color: var(--light-gray);
  border-radius: 5rem;
  max-width: fit-content;
  padding-block: 1rem;
  padding-inline: 2rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    color: var(--light-gray) !important;
    background-color: transparent;
  }
}
