* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {  
  --grayish-blue: hsl(246, 25%, 77%);
  --light-gray: hsl(0, 0%, 95%);  
  --red: hsl(350, 70%, 60%);
  --cyan: hsl(189, 100%, 50%);
  --dark-cyan: hsl(200, 79%, 23%);
  --cyan-hover: hsl(190, 100%, 40%);
  --dark-cyan-hover: hsl(200, 80%, 30%);
  --very-dark-cyan: hsl(220, 13%, 18%);

  --dark-text: var(--very-dark-cyan);
  --light-text: var(--light-gray);
  --highlight-text: var(--cyan);

  --dark-bg: var(--very-dark-cyan);
  --light-bg: var(--light-gray);

  --dark-cta: var(--dark-cyan);
  --light-cta: var(--cyan);
  --dark-cta-hover: var(--dark-cyan-hover);
  --light-cta-hover: var(--cyan-hover);

  --border: var(--grayish-blue);
  --border-active: var(--dark-cyan);

  --fs-error: clamp(1.2rem, 3vw + .1rem, 1.4rem);
  --fs-body: clamp(1.4rem, 4vw + .1rem, 2rem);
  --fs-body-lg: clamp(1.4rem, 5vw + .1rem, 2.2rem);
  --fs-title: 3.2rem;
  --ff-body: 'Poppins', sans-serif;
  --ff-title: 'Big Shoulders Display', cursive;

  --pd-md: clamp(1rem, 4vw + .1rem, 2rem);
  --pd-lg: clamp(2rem, 8vw + .1rem, 4rem);

  --box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem hsl(249deg 10% 26% / 20%);
  --transition: all 0.4s ease-in-out;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-gray);
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  font-weight: 400;
  height: 100vh;
}

#root {
  height: 100%;
}

@media (max-width: 40em) {
  body {
    place-content: unset;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--ff-title);
  font-weight: 700;
}

img {
  max-width: 100%;
}

button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  transition: var(--transition);
  cursor: pointer;
  font-family: var(--ff-body);
}
