* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --green: hsl(154, 59%, 51%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --soft-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);

  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  
  --fs-body: clamp(1.4rem, 4vw + .1rem, 2rem);
  --fs-title: 3.2rem;
  --ff-body: 'Poppins', sans-serif;
  --ff-title: 'Big Shoulders Display', cursive;

  --pd-md: clamp(1rem, 4vw + .1rem, 2rem);
  --pd-lg: clamp(2rem, 8vw + .1rem, 4rem);

  --box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem hsl(249deg 10% 26% / 20%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-gray);
  background-image: url('../public/images/bg-intro-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  font-weight: 400;
  display: grid;
  place-content: center;
  height: 100vh;
}

@media (max-width: 40em) {
  body {
    place-content: unset;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--ff-title);
  font-weight: 700;
}

img {
  max-width: 100%;
}

button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  font-family: var(--ff-body);
}
