@use "../../../../styles/colors" as c;

$header-height: 10rem;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  border-bottom: .01rem solid c.$cyan4;
  gap: 3rem;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 10vw;

    @media (max-width: 46em) {
      display: none;
    }
  }

  > * {
    flex: 1 1 100%;
    text-align: center;
  }
}
