.notfound {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  background-image: url(../../../public/images/blob-scatter-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__info {
    color: var(--dark-text);
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
      font-size: 5.6rem;
    }

    span {
      font-size: 4rem;
      display: grid;
      place-content: center;
    }
  }

  &__call-to-action {
    background-color: var(--dark-cta);
    transition: var(--transition);
    border-radius: 1rem;
    text-transform: uppercase;
    max-width: 20rem;
  
    a {
      color: var(--light-text);
      display: block;
      padding-block: 1rem;
      padding-inline: 2rem;
    }
  
    &:hover {
      background-color: var(--dark-cta-hover);
    }
  }
}